.netflix-header {
  background-color: #141414;
  color: white;
  padding: 1rem 0;

  .container {
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
    justify-content: space-between;
  }

  .logo img {
    height: 30px;
  }

  .navigation {
    ul {
      display: flex;
      gap: 1.5rem;
      list-style: none;
      margin: 0;
      padding: 0;

      li a {
        color: white;
        text-decoration: none;
        font-weight: 500;

        &:hover {
          color: #e50914;
        }
      }
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  .logo-and-nav {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .auth .login-btn {
    background-color: #e50914;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    display: block;
    text-align: right;

    &:hover {
      background-color: #f40612;
    }
  }

  .menu-toggle {
    display: none;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;

    span {
      display: block;
      width: 25px;
      height: 3px;
      background: white;
    }

    @media (max-width: 768px) {
      display: flex;
    }
  }
}
